# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Virtual environment
venv/
ENV/
env/
.venv/

# VS Code settings
.vscode/

# PyCharm settings
.idea/

# macOS system files
.DS_Store

# Environment variables / secret files
*.env

# Uvicorn log files (if you enable logs)
*.log

# Jupyter Notebook checkpoints (if you use any)
.ipynb_checkpoints/

# Cache
.cache/

# FAISS index files (if you save them later)
*.index
